# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Project specific
*.pdf
temp_*

# Deployment
Procfile
